body{
    font-family: 'Trebuchet MS';
    padding: 10px;
}

div {   
    width: 500px;
  	margin: auto;
}

input{
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    font-size: 18px;
    letter-spacing: 0.5px;
    border: 1px solid;
    border-radius: 3px;
    font-family: 'Trebuchet MS';
}

input[type=submit] {
    width: auto;
    padding: 12px 22px;
    margin: 16px 0;
    background-color: #ff7d7d;
    cursor: pointer;
    border: none;
}

input[type=submit]:hover{
    background-color: #ff6161;
}

h1{
    text-align: center;
}